[user]
  name = Raj Sahae
  email = rajsahae@gmail.com

[color]
  branch = auto
  diff = auto
  interactive = auto
  status = auto

[merge]
  tool = vimdiff

[credential]
  helper = cache --timeout=3600

[alias]
  co = checkout
  st = status
  br = branch
  cm = commit
  sb = status --short --branch
  di = diff
  dc = diff --cached
