<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>com.rsahae.offlineimap</string>

    <key>ProgramArguments</key>
    <array>
      <string>/usr/local/bin/offlineimap</string>
      <string>-c/Users/rsahae/.offlineimaprc</string>
    </array>

    <key>ServiceDescription</key>
    <string>Runs offlineimap (full) for email syncing</string>

    <key>StartCalendarInterval</key>
    <dict>
      <key>Minute</key>
      <integer>0</integer>
    </dict>

    <key>StandardErrorPath</key>
    <string>/var/log/rsahae/offlineimap.log</string>

    <key>StandardOutPath</key>
    <string>/var/log/rsahae/offlineimap.log</string>

    <key>ExitTimeOut</key>
    <integer>10</integer>
  </dict>
</plist>
